.search-cantainer{
    background:  #008CFF;
    width: 100%;
    /* margin: 0 50px; */
    height: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 10px;


}
.search-cantainer input {
    width: 90%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;


}
.search-cantainer button {
    border: none;
    outline: none;
    height: 35px;
    width: 10%;
    font-size: 18px;
    color: #fff;
    background-color : transparent ;
}
.search{
    font-size: 20px;

}